body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("http://www.sandandwax.com/images/light_blue_1_crop.jpg");
  background-repeat: no-repeat;
}

a {
  color: ##104E8B;
}

h1{
	font-size: 18px; 
	color: #104E8B;
	text-align: center;
}

#compose_tweet_dialog{
	float: left;
	display: inline-block;
	width:200px;
	padding-left:20px;
	padding-bottom: 5px;
	border:10px #4099FF;
	background: #778899;
	border-radius: 20px;
	margin-right: 20px;
}

#display_tweets{
	display: inline-block;
	background: #778899;
	width:700px;
	border: 10px #4099FF;
	border-radius: 20px;
}

#tweet_id{
	padding-top: 5px;
	padding-left: 20px;
}

#sign_up_link{
	font-size: 10px;
}

#login_dialog{
	text-align: center;
	padding-top: 130px;
}